{% extends 'base.html' %}
{% block title %}Rosh Technologies{% endblock %}

{%block body %}

<div class="row">
	<div class="col-md-12" style="background-color:#ADD8E6;">
		<canvas id="myDoughnut" height="50"></canvas>
		<script type="text/javascript">
			var ctx =document.getElementById('myDoughnut').getContext('2d');
			var myDoughnutChart = new Chart(ctx, {
		    type: 'doughnut',
		    data: {
		    	labels: ['Benefit Card Replacement', 'Illegal Parking', 'Noise', 'Noise - Commercial', 'Noise - Residential', 'Noise - Street/Sidewalk', 'Street Condition'],
		    	datasets: [{
		    		backgroundColor: [
		            '#ff6384',
		            '#36a2eb',
		            '#cc65fe',
		            '#ffce56',
		            '#DC143C',
		            '#FF8C00',
		            '#DAA520',
		        ],
		        data: {{yvalue}}
		    	}],

		    },

		    options: {}
			});	
		</script>
	</div>
</div>

<div>
	{{ dataframe | safe }}
</div>

{% endblock %}